:root {
    --azul: rgb(25, 25, 109);
    --verde: rgb(58, 184, 146);
  }

body{
    background-color: white;
}

.tab{
    background-color: rgb(255, 255, 255);
}


.tabs{
    color: black;
   
}

.container{

  background-color: rgb(255, 255, 255);
  padding: 10px;
  width: 100%;
  height: 500px;
  
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.sidenav{
  background-color: gray;
}

.sair{
  color: white;
}

