html, * {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --azul: rgb(25, 25, 109);
    --verde: rgb(58, 184, 146);
  }
  
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }

  .body{
    background-color: white;
  }

  .nav-wrapper{
    width: 100%;
    background-color: var(--azul);
    height: 90px;
    overflow: hidden;
  }

.collapsible{
  width: 100%;
  
}

.collapsible-header{
  height: 70px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  background-color: var(--azul);

}

.collapsible-body{
  background-color: rgb(209, 209, 209);
}

.material-icons{
  color: var(--verde);
}

.material-icons:hover{
  color: white;
  transition: .4s;
}

.contador{
  padding-left: 100px;
  
}

.textContador{
  font-weight: 300;
  font-size: 20px;
}

.img{
  text-align: center;
  padding: 0%;
  width: 120px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.escolha{
  padding-top: 25px;
  padding-bottom: 10px;
}

.escolha-text{
  color: var(--azul);
  font-size: larger;
  font-weight: bold;
}

.categoria{

}

.categoria:hover{
  color: var(--verde);
  transition: .4s;
}
