html, * {
  margin: 0;
  padding: 0;
}

:root {
  --azul: rgb(25, 25, 109);
  --verde: rgb(58, 184, 146);
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: var(--azul);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav-wrapper{
  width: 100%;
  background-color: var(--verde);
}

.texto{
  font-size: 17px;
  padding-left: 20px;
  font-weight: 600;
}

.card{
  margin-top: 60px;
  border-radius: 50px;
  width: 100%;
}

.card-image{
  width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.card2{
  margin-top: 80px;
  padding-bottom: 40px;
  text-align: center;
  align-items: center;
}

.button{
  width: 250px;
  height: 50px;
  border-radius: 50px;
  border: none;
}

.material-icons{
  padding-right: 8px;
}

.escolha{
  padding-bottom: 10px;
  color: white;
  font-size: 18px;
}


.link{
  
  cursor: pointer;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  color: var(--azul);
  
  
}

.opcoes{
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  align-items: center;
}

.subopcao{
  width: 70%;
  padding: 5px;
  background-color: white;
  border-radius: 30px;
  
}

.texto-escolha{
  padding-left: 30px;

}
.link:hover{
  color: var(--verde);
}

.footer{
  margin-top: 47px;
  width: 100%;
  position: relative;
  text-align: center;
  background-color: var(--verde);
  bottom: 0px;
}

.texto-rodape{
  color: white;
  font-size: 20px;
  padding: 15px;
  font-weight: 500;
}

.texto-card{
  color: white;
  text-align: justify;
  margin-top: 40px;
  font-size: 17px;
}


.texto-2{
  font-weight: 700;
  color: white;
  text-align: left;
  margin-top: 20px;
  font-size: 20px;
}
